{% extends 'core/base.html' %}

{% load static %}

{% block title %}Contacto{% endblock %}

{% block background %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>Contacto</h1>
    <span class="subheading">Unete a nuestro equipo de trabajo</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Puedes Vincularte a Divertivo como instructor realizando contenidos para los cuales recibiras nuestro apoyo 
            o como estudiante, aprendiendo todo lo que tiene disponible nuestra plataforma. 
        </p>
        <br>
        <p><b>Teléfono:</b> 3203430101</p>
        <p><b>Honorarios:</b> Lunes a Viernes de 8:00 am a 6:00 pm</p>
    </div>
</div>
{% endblock %}